
.list-cell:nodate {
    /*-fx-control-inner-background: maroon;*/
    /*-fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);*/
    -fx-background-color: linear-gradient(to right, #045FB4, darkred);
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-underline: true;
    /*-fx-font-color: white;*/
}

.list-cell:nodateUnselect {
    -fx-control-inner-background: darkred;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-font-color: white;*/
}

.list-cell:good {
    -fx-background-color: linear-gradient(to right, #045FB4, forestgreen);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-underline: true;
    /*-fx-font-color: white;*/
}

.list-cell:goodUnselect {
    -fx-control-inner-background: forestgreen;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-font-color: white;*/
}
